@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@theme {
  --font-inter: "Inter", sans-serif;
  --color-terra: #D17557;
}
@layer base {
  .font-inter {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .suggested-recipe-container {
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
    margin-bottom: 8px;
}
}
